<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="title">SHOP</h1>
            <span class="backet">BACKET</span>
        </header>
        <div class="filters">
            <h2 class="filt-title">Filters</h2>
            <div class="filter-content">
                <div class="filter-item">
                    <input type="checkbox">
                    <label for="" class="check-label">Model</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox">
                    <label for="" class="check-label">Count</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox">
                    <label for="" class="check-label">Rating</label>
                </div>
            </div>
        </div>
        <div class="sort">SORT</div>
        <div class="gallery">GALLERY</div>
    </div>

</body>

</html>